# Klasifikasi Bunga Iris (Model Decision Tree)

Contoh Deloyment untuk Domain Data Science (DS) <br>
Orbit Future Academy - AI Mastery - KM Batch 3 <br>
Tim Deployment dan Tim DS <br>
2022

## Modules dan Packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import joblib

## Import Data

In [3]:
df = pd.read_csv("colorballs.csv")

## Exploratory Data Analysis (EDA)

In [4]:
df.head()

   Room  Partitions  Rows  Columns   Color
0     2           2     2        1     Red
1     3           1     2        1     Red
2     3           2     1        2     Red
3     2           3     1        2    Blue
4     4           2     1        2  Yellow

In [5]:
df['Color'].value_counts()

Red       162
Blue       93
Yellow     82
Green      63
Name: Color, dtype: int64

In [6]:
df.describe()

             Room  Partitions        Rows     Columns
count  400.000000  400.000000  400.000000  400.000000
mean     2.222500    1.975000    1.537500    1.450000
std      0.930138    0.731925    0.499216    0.498117
min      1.000000    1.000000    1.000000    1.000000
25%      1.000000    1.000000    1.000000    1.000000
50%      2.000000    2.000000    2.000000    1.000000
75%      3.000000    3.000000    2.000000    2.000000
max      4.000000    3.000000    2.000000    2.000000

## Training Model

In [7]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
model = DecisionTreeClassifier()
model = model.fit(X_train, y_train)

## Evaluasi Model

In [11]:
accuracy_train = model.score(X_train, y_train)
accuracy_test  = model.score(X_test, y_test)

In [12]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test * 100,2)} %")

Akurasi Model (Train) : 100.0 %
Akurasi Model (Test)  : 100.0 %

## Menyimpan Model

In [13]:
joblib.dump((model), "colorballs_dt.model")

['colorballs_dt.model']

## Prediksi

In [17]:
df.head()

   Room  Partitions  Rows  Columns   Color
0     2           2     2        1     Red
1     3           1     2        1     Red
2     3           2     1        2     Red
3     2           3     1        2    Blue
4     4           2     1        2  Yellow

In [22]:
df_test = pd.DataFrame(data={
    "Room" : [4],
    "Partitions"  : [2],
    "Rows" : [1],
    "Columns"  : [2]
})

df_test[0:1]

   RoomCm  PartitionsCm  RowsCm  ColumnsCm
0       4             2       1          2

In [23]:
pred_test = model.predict(df_test[0:1])
pred_test[0]

c:\Python310\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- ColumnsCm
- PartitionsCm
- RoomCm
- RowsCm
Feature names seen at fit time, yet now missing:
- Columns
- Partitions
- Room
- Rows

  warnings.warn(message, FutureWarning)

'Yellow'