# Klasifikasi Bunga Iris (Model Decision Tree)

Contoh Deloyment untuk Domain Data Science (DS) <br>
Orbit Future Academy - AI Mastery - KM Batch 3 <br>
Tim Deployment dan Tim DS <br>
2022

## Modules dan Packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import joblib

## Import Data

In [2]:
df = pd.read_csv("diabetes.csv")

## Exploratory Data Analysis (EDA)

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Training Model

In [6]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [8]:
error_rate = []
for i in range(1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    error_rate.append(np.mean(pred_i != y_test))

print("minimum error : -"), (error_rate), "at K =", error_rate.index(min(error_rate))

minimum error : -

(None,
 [0.3177083333333333,
  0.3177083333333333,
  0.328125,
  0.296875,
  0.3072916666666667,
  0.3125,
  0.3072916666666667,
  0.2916666666666667,
  0.296875,
  0.2864583333333333,
  0.2708333333333333,
  0.2552083333333333,
  0.265625,
  0.2708333333333333,
  0.24479166666666666,
  0.28125,
  0.2552083333333333,
  0.2552083333333333,
  0.2604166666666667],
 'at K =',
 14)

In [9]:
model = KNeighborsClassifier(n_neighbors=7)
model = model.fit(X_train, y_train)

## Evaluasi Model

In [10]:
accuracy_train = model.score(X_train, y_train)
accuracy_test  = model.score(X_test, y_test)

In [11]:
print(f"Akurasi Model (Train) : {np.round(accuracy_train * 100,2)} %")
print(f"Akurasi Model (Test)  : {np.round(accuracy_test * 100,2)} %")

Akurasi Model (Train) : 78.82 %
Akurasi Model (Test)  : 69.27 %

## Menyimpan Model

In [12]:
joblib.dump((model), "model_diabetes_dt.model")

['model_diabetes_dt.model']

In [13]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Prediksi

In [14]:
df_test = pd.DataFrame(data={
    "Pregnancies" : [6],
    "Glucose"  : [148],
    "BloodPressure" : [72],
    "SkinThickness"  : [35],
    "Insulin" : [0],
    "BMI" : [33.6],
    "DiabetesPedigreeFunction" : [0.627],
    "Age" : [50],
})

df_test[0:1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50

In [15]:
pred_test = model.predict(df_test[0:1])
pred_test[0]

1